{
  "extends": "airbnb",
  "rules": {
    "no-console": "off",
    "consistent-return": "warn",
    "arrow-parens": "off",
    "import/no-dynamic-require": "warn",
    "camelcase": "off",
    "no-unused-vars": [2, {"args": "after-used", "argsIgnorePattern": "^_"}],
    "comma-dangle": ["warn", "always-multiline"],
    "dot-notation": "warn",
    "arrow-body-style": "off",
    "no-param-reassign": "warn",
    "react/no-unknown-property": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-boolean-value": "off",
    "import/newline-after-import": "off",
    "global-require": "off",
    "max-len": "off",
    "react/prop-types": "off",
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "no-new": "off",
    "no-plusplus": "off",
    "no-constant-condition": ["error", { "checkLoops": false }],
    "no-script-url": "off",
    "semi": ["error", "always"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-named-as-default": "off",
    "no-class-assign": "off",
    "react/jsx-no-bind": "off",
    "react/forbid-prop-types": "off",
    "no-alert": "off"
  },
  "globals": {
    "document": true,
    "window": true,
    "fetch": true,
    "alert": true,
    "describe": true,
    "it": true,
    "expect": true
  }
}
