<html>
<head>
  <style type="text/css">
    .col.right { float: right; text-align: right; }
    .col.left { float:left; }
    .row { clear: both; }
    .table { border: 2px solid; }
    .table td { border-bottom: 1px solid lightgrey; padding: 5px 10px; }
    .table > tbody > tr > .thick-line { border-top: 2px solid; }
  </style>
</head>
<body>
  <div class="invoice-title">
    <p>
      Bonjour %contact.fullname%,
    </p>
    <p>
      Nous avons bien reçu votre commande pour l'envoi du magazine Debout n°13.
    </p>
    <p>
      <strong>Pour valider votre commande, veuillez cliquer sur le lien suivant: <a href="%confirmation_url%/%id%">%confirmation_url%/%id%</a>.</strong>
    </p>
    <p>
      Ci-dessous les détails de votre commande.
    </p>
    <p>
      Cordialement,<br />
      L'Equipe Debout
    </p>
  </div>
  <hr>
  <div class="row">
    <h3 class="panel-title"><strong>Résumé de votre commande</strong></h3>
  </div>
  <div class="row">
    <div class="col left">
      <address>
        <strong>Facturé à:</strong><br>
          %invoice.full%
      </address>
    </div>
    <div class="col right">
      <address>
        <strong>Livraison:</strong><br>
          %shipping.full%
      </address>
    </div>
  </div>

  <div class="row">
    <br />
    <table class="table">
      <thead>
        <tr>
            <td><strong>Produit</strong></td>
            <td class="text-center"><strong>Prix</strong></td>
            <td class="text-center"><strong>Quantité</strong></td>
            <td class="text-right"><strong>Total</strong></td>
        </tr>
      </thead>
      <tbody>
        <!-- foreach ($order->lineItems as $line) or some such thing here -->
        <tr>
          <td>Debout n°12</td>
          <td class="text-center">%price%</td>
          <td class="text-center">%nb_products%</td>
          <td class="text-right">%subtotal%</td>
        </tr>
        <tr>
          <td class="text-right" colspan="3"><strong>Frais de livraison</strong></td>
          <td class="text-right">%shipping_price%</td>
        </tr>
        <tr>
          <td class="thick-line"></td>
          <td class="thick-line"></td>
          <td class="thick-line text-center"><strong>Total</strong></td>
          <td class="thick-line text-right">%total%</td>
        </tr>
      </tbody>
    </table>
    <p>
      Date approximative de livraison: <strong>le 20 Septembre 2017</strong>
    </p>
    %shipping.opendays%
  </div>
</body>
</html>