<html>
<head>
  <style type="text/css">
    .col.right { float: right; text-align: right; }
    .col.left { float:left; }
    .row { clear: both; }
    .table { border: 2px solid; }
    .table td { border-bottom: 1px solid lightgrey; padding: 5px 10px; }
    .table > tbody > tr > .thick-line { border-top: 2px solid; }
  </style>
</head>
<body>
  <div class="invoice-title">
    <p>
      Bonjour %contact.fullname%,
    </p>
    <p>
      Nous avons bien reçu votre abonnement du magazine Debout. 
    </p>
    <p>
      Cordialement,<br />
      L'Equipe Debout
    </p>
  </div>
</body>
</html>